# Load Uber.csv dataset.

In [1]:
import pandas as pd 
uber=pd.read_csv("C:/Users/mohan reddy/Downloads/Uber_Drives_2016.csv") 
uber.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

# Display the number of rows and columns.

In [26]:
#Display the number of rows and columns.
print("Shape of the dataset:", uber.shape)

Shape of the dataset: (1156, 7)

# Show unique categories in the CATEGORY column.

In [2]:

print(uber['CATEGORY*'])

0       Business
1       Business
2       Business
3       Business
4       Business
          ...
1151    Business
1152    Business
1153    Business
1154    Business
1155         NaN
Name: CATEGORY*, Length: 1156, dtype: object

# Find how many null values are there in PURPOSE

In [28]:
print(uber['PURPOSE*'].isnull().sum())

503

# Rename all columns in uppercase.

In [32]:
print(uber.columns == uber.columns.str.upper())

[ True  True  True  True  True  True  True]